body {
    /* background-color: pink; */
    background-image: url("../images/background.png");
    background-position: center;
    background-size: cover;
}

#unicon {
    padding-bottom: 20vh;
}

.unicon {
    padding: 0 10vw;
}

.unicon-contents {
    display: flex;
}

.people-rui2 {
    height: 30vw;
}

.slide-items {
    width: 100%;
    display: flex;
    max-width: 80%;
    margin: auto;
  }
  
  .slide-items li {
    height: auto;
    margin-right: 10px;
    margin-left: 10px;
    padding: 10px;
    border: 1px solid #4C494B;
    border-radius: 30px;
    background-color: #fff;
  }
  
  .slide-items p {
      margin: 10px 0;
      text-align: center;
      font-size: 20px;
  }
  
  .slide-items img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 30px;
  }
  
  .slick-prev:before,
  .slick-next:before {
    border: 1px solid #4C494B;
    color: #4C494B;
    background-color: #fff;
    border-radius: 50%;
  }
  
  .slick-dots {
    left: 50%;
    transform: translateX(-50%);
  }

  .title23 {
    padding-top: 40vh;
} 

#zenkoku {
    padding-bottom: 20vh;
}

#zenkoku h3 {
    text-align: right;
    /* padding: 0 20vh 20vh 20vh; */
}

.zenkoku {
    padding: 0 10vw;
}

.zenkoku-contents {
    display: flex;
}

.people-natsume {
    height: 30vw;
}

#hapyo {
    padding-bottom: 20vh;
}

.hapyo {
    padding: 0 10vw;
}

.hapyo-contents {
    display: flex;
}

.people-rui2 {
    height: 30vw;
}

.youtube {
    width: 80%;
    position: relative;
    padding-top: 56.25%;
    margin: 0 auto;
  }
  
  .youtube iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .bottom {
    margin-bottom: 5vh;
  }

  #media, #event {
    padding-bottom: 20vh;
}

#media h3, #event h3 {
    text-align: center;
    padding-bottom: 10vh;
}

@media all and (max-width:480px) {
    body {
        background-image: url("../images/background2.png");
    }
    .title23 {
        font-size: 24px;
        padding: 0;
        margin-top: 150px;
        margin-bottom: 70px;
    }
    #unicon, #zenkoku, #hapyo {
        padding-bottom: 15vh;
    }
    #media, #event {
        padding-bottom: 10vh;
    }
    .unicon, .zenkoku, .hapyo{
        padding: 0;
        margin: 0 5vw;
    }
    #unicon .about-text-left {
        width: 45vw;
    }
    #unicon .people-right {
        margin-left: 30vw;
        margin-top: 0;
        margin-top: 5vh;
    }
    #zenkoku .people-left {
        margin-left: 0;
        margin-right: 20vw;
        margin-top: 5vh;
    }
    .slide-items p {
        margin: 10px 0;
        text-align: center;
        font-size: 16px;
    }
    #hapyo .people-right {
        margin-left: 25vw;
        margin-top: 5vh;
    }
    #media h3, #event h3 {
        padding-bottom: 5vh;
    }
}